section{
    width:100%;
    /* height:85vh; */
    align-items: center;
    display: flex;
    justify-content: center;
}

@keyframes pan {
    100% {background-position: 15% 50%;}
}
body{
    background-image: url('../images/poly.svg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 6s infinite alternate linear;
    }
.header-content{
    height:80%;
    margin-top: 150px;
    flex-wrap: wrap;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #00b894;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .05);  
    backdrop-filter: blur(5px);
}
.childdiv{
  padding: 15px;
}
h2{
    color:rgb(116, 181, 237);
}
.bui{
    background-color:transparent ;
    color: aliceblue;
    border-radius: 6px;
    height: 40px;
    border-color: rgba(1, 48, 110, 0.786);
    cursor: pointer;
}

.hexagon{
  width: 35%;
  height: 89%;
  background:linear-gradient(190deg ,#6bbcd9,#157699dc);
  /* #2595bedc */
  /* ,#6bbcd9,#157699dc */
  object-fit: cover;
  overflow: hidden;
  clip-path: polygon(50% 0%, 100% 27%, 100% 76%, 50% 100%, 0 76%, 0 29%);
 
}


.change_content:after {
    content: "";
    animation: changetext 10s infinite linear;
    color: #a4edde;
  }
  
  @keyframes changetext {
    0% {
        content: "Web Developer";
      }
      20% {
        content: "Programmer";
      }
      35% {
        content: "Writer";
      }
      60% {
        content: "Problem solver";
      }
      80% {
        content: "Coder";
      }
      100% {
        content: "Java Developer";
      }
  }
@media (max-width: 768px) {
    .input-field{
       width:260px;
    }
    .header-content{
       width: 90%;
       padding: 10px;
        margin-top: 80px;
        flex-direction: column;
    }
    .hexagon{
      width:90%;

    }
    .childdiv{
     padding: 0px;
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(88, 217, 237);
    border-radius: 10px;
  }